@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

:root {
    --rtc-background-color: #ffffff;
    --rtc-primary-color: #f6f6f6e0;
    --rtc-secondary-color: #8EADD5;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--rtc-background-color);
    padding: 20px;
    height: 12,5svb;
    align-items: center;
    flex-wrap: wrap;
}
nav > p{
    font-weight: 700;
    font-size: 20px;
}
#nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    flex-wrap: wrap;
}

nav > ul > li > a {
    color: black;
    font-weight: 600;
    font-size: 13px;
}
main{
    max-height: 214px;
    margin-bottom: 100px;

}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.info{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info > h1{
    font-size: 25px;
    margin: 5px;
    width: 200px;
}

.info > p{
    font-size: 15px;
    margin: 5px;
    max-width: 300px;
}

.info > button{
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 100px;
    cursor: pointer;
    border: none;
    background-color: var(--rtc-secondary-color);
    color: var(--rtc-primary-color);
}

#hero > img{
    width: 30%;
    min-width: 150px;
    max-height: 278px;
    max-width: 200px;
}

#companies {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#companies > p {
    font-size: 15px;
}

#companies > img {
    background-color: var(--rtc-primary-color);
    object-fit: cover;
}

#testimonials {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

#testimonials > h2 {
    font-size: 15px;
}


#testimony{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#testimony > div{
    display: flex;
    flex-direction: column;
    background-color: var(--rtc-primary-color);
    align-items: center;
    max-width: 200px;
    
}

#testimony > div > img {
    height: 100px;
    width: 100px;
}

footer{
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--rtc-primary-color);
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
}

footer > ul {
    list-style: none;
    font-weight: 700;
    font-size: 15px;
}

footer > ul > li{
    font-size: 10px;
}
